.card {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form {
  width: 400px;
  height: 400px;
}

label {
  margin-top: 10px;
  color: rgb(212, 31, 91);
  font-size: 15px;
  font-style: italic;
  width: 50px;
  height: 150px;
  word-wrap: break-word;
}

.desc {
  font-size: 15px;
  text-align: justify;
  width: 500px;
}

.star {
  color: rgba(187, 170, 77, 0.911);
  border-color: black;
}

.username {
  font-size: 15px;
}

.controls {
  width: 50px;
  margin: 10px 0 0 10px;
  cursor: "pointer";
}

.date {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.768);
}

form {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  font-size: 25px;
  height: 250px;
  margin: 0;
}

.rating {
  margin-bottom: 20px;
  height: 200px;
  font-size: 25px;
}

input {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.842);
  font-size: 26px;
}

input::placeholder,
textarea::placeholder {
  font-size: 25px;
  color: rgba(128, 128, 128, 0.842);
}

.place {
  font-size: 15px;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: rgb(212, 31, 91);
  cursor: "pointer";
  font-size: 25px;
}

.topbar {
  display: flex;
}

.buttons {
  margin-top: 10px;
  position: absolute;
  padding-left: 195vh;
  position: flex;
}

.buttonlogout {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(212, 31, 91);
  font-size: 20px;
  margin: 0px;
  cursor: "pointer";
  display: inline-block;
}

.logoout {
  background-color: rgb(212, 31, 91);
}
